#version=RHEL8
ignoredisk --only-use=sda
# Use TEXT install
text
# EULA
eula --agreed
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8 --addsupport=zh_CN.UTF-8
# Firewall information
firewall --disabled
# SELinux information
selinux --permissive


# Root password
rootpw --plaintext root
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
autopart --fstype=xfs --nolvm --nohome --noboot --noswap
# Do NOT Run the Setup Agent on first boot
firstboot --disable
# Bootloader information
bootloader --timeout=1 --location=mbr --append="rhgb quiet crashkernel=auto"
zerombr
# Do not configure the X Window System
skipx
# System timezone
timezone Asia/Shanghai --isUtc --ntpservers=ntp1.aliyun.com,ntp2.aliyun.com,ntp3.aliyun.com

auth --passalgo=sha512 --useshadow

%packages
@^minimal-environment
@development
cmake
-byacc
-ctags
-diffstat
-intltool
-ltrace
-patchutils
-perl-generators
-perl-Fedora-VSP
-pesign
-systemtap
-jna
-valgrind
-valgrind-devel
@standard
nfs-utils
traceroute
-blktrace
-bpftool
-cockpit
-cryptsetup
-dos2unix
-dosfstools
-gnupg2
-ledmon
-libstoragemgmt
-mailcap
-mdadm
-mlocate
-mtr
-pinfo
-plymouth
-realmd
-smartmontools
-sos
-sssd
-strace
-subscription-manager-cockpit
-teamd
-usbutils
-vdo
-kmod-kvdo
-virt-what
-words
-xfsdump
-fprintd-pam
-dnf-plugin-spacewalk
-rhn-client-tools
-rhnlib
-rhnsd
-rhn-setup
-insights-client
@legacy-unix
telnet
@network-tools
nmap
wireshark
-libreswan
%end

%addon com_redhat_kdump --disable --reserve-mb=auto

%end

%post
# sudo
echo '%devops ALL=(ALL) NOPASSWD: ALL' >>/etc/sudoers.d/devops
chmod 440 /etc/sudoers.d/devops
echo '%wheel ALL=(ALL) NOPASSWD: ALL' >>/etc/sudoers.d/wheel
chmod 440 /etc/sudoers.d/wheel
# kdump
systemctl disable kdump
%end

reboot
